* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none; }

body {
  font-family: 'Big Shoulders Display', cursive; }

header {
  width: 100%;
  height: 13vh;
  background-color: #e7e2cc; }
  header nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.imagenlogo {
  width: 90px;
  height: 90px;
  margin-left: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .imagenlogo {
      position: absolute;
      top: 0;
      margin: 5px;
      z-index: 10; } }
  @media (min-width: 1024px) {
    .imagenlogo {
      position: absolute;
      top: 5px;
      width: 110px;
      height: 110px;
      z-index: 10; } }

.bar-btn {
  font-size: 25px;
  color: #00555d;
  margin-right: 20px;
  cursor: pointer; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .bar-btn {
      display: none; } }
  @media (min-width: 1024px) {
    .bar-btn {
      display: none; } }

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background-color: #00555d;
  text-align: center;
  transition: all .5s;
  z-index: 9999; }
  .nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s; }
    .nav-menu li a {
      color: #e7e2cc;
      border-radius: 20px;
      font-size: 25px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .nav-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: right;
      position: relative;
      margin-left: 5%;
      height: 50px;
      top: 4%;
      padding: 15px;
      transition: none;
      border-radius: 20px;
      z-index: 0; }
      .nav-menu li {
        display: flex;
        flex-direction: row;
        transition: none;
        padding: 5px;
        margin: 10px; }
        .nav-menu li a {
          margin: 10px;
          font-size: 30px; }
          .nav-menu li a:hover {
            padding: 10px;
            border-radius: 15px;
            background-color: #e7e2cc;
            color: #00555d; } }
  @media (min-width: 1024px) {
    .nav-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: right;
      position: relative;
      height: 50px;
      top: 6%;
      margin-left: 5%;
      padding: 15px;
      transition: none;
      border-radius: 20px;
      z-index: 0; }
      .nav-menu li {
        display: flex;
        flex-direction: row;
        transition: none;
        padding: 5px;
        margin: 10px; }
        .nav-menu li a {
          margin: 10px;
          font-size: 30px; }
          .nav-menu li a:hover {
            padding: 10px;
            border-radius: 15px;
            background-color: #e7e2cc;
            color: #00555d; } }

#menu {
  display: none; }
  #menu:checked ~ .nav-menu {
    height: 100vh; }
    #menu:checked ~ .nav-menu li {
      display: block; }

.container {
  display: flex;
  flex-direction: column; }

.bienvenida {
  position: relative;
  z-index: 1;
  background-image: url(../imagenes/langostino.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 95vh; }
  .bienvenida h1 {
    margin-top: 30px;
    padding: 5px;
    color: #e7e2cc;
    font-size: 40px;
    text-shadow: 2px 2px #00555d;
    animation-name: animacion1;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 0s; }

@keyframes animacion1 {
  from {
    transform: translatey(-300%); }
  to {
    transform: translatey(0); } }
  .bienvenida .btn-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    width: 170px;
    height: 40px;
    font-size: 20px;
    top: 70%;
    left: 33%;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #e7e2cc;
    color: #00555d; }
    .bienvenida .btn-inicio:hover {
      color: #e7e2cc;
      background-color: #00555d; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .bienvenida {
      justify-content: left; }
      .bienvenida h1 {
        margin-left: 15px;
        font-size: 50px; }
      .bienvenida .btn-inicio {
        left: 45%; } }
  @media (min-width: 1024px) {
    .bienvenida {
      justify-content: left; }
      .bienvenida h1 {
        font-size: 60px;
        margin-left: 10px; }
      .bienvenida .btn-inicio {
        left: 43%; } }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  z-index: 100;
  top: 105%;
  left: 30%;
  width: 200px;
  height: 200px;
  background-color: #e7e2cc;
  border: solid 3px #e7e2cc;
  border-radius: 15px;
  opacity: .8;
  animation-name: animacion2;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s; }
  .card img {
    border-radius: 15px; }
  .card h2 {
    color: #00555d;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px; }

@keyframes animacion2 {
  from {
    transform: translatex(-300%); }
  to {
    transform: translatex(0); } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .card {
      top: 100%;
      left: 38%;
      width: 300px;
      height: 300px; }
      .card h2 {
        font-size: 30px; } }
  @media (min-width: 1024px) {
    .card {
      top: 100%;
      left: 38%;
      width: 300px;
      height: 300px; }
      .card h2 {
        font-size: 35px; } }

.presentacion {
  z-index: 2;
  background-image: url(../imagenes/pulpo2.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .presentacion .pres {
    margin-top: 40px;
    background-color: #e7e2cc;
    opacity: 0.6; }
  .presentacion h2 {
    text-transform: uppercase;
    padding: 5px;
    color: #00555d;
    font-size: 20px;
    text-shadow: 2px #00555d; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .presentacion h2 {
      font-size: 35px; } }
  @media (min-width: 1024px) {
    .presentacion h2 {
      font-size: 45px; } }

.pago {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 10px;
  background-color: #e7e2cc;
  height: 20vh; }
  .pago h2 {
    color: #00555d;
    text-align: center;
    padding-bottom: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .pago {
      justify-content: space-evenly; }
      .pago h2 {
        font-size: 30px; } }
  @media (min-width: 1024px) {
    .pago h2 {
      font-size: 35px; } }
  .pago .boxpago {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .pago .boxpago .mpago {
      width: 150px; }
  .pago img {
    width: 50px;
    height: 50px; }

footer {
  display: grid;
  grid-template-areas: "redes contacto" "copy   copy";
  grid-template-columns: 50%;
  grid-template-rows: 78% 22%; }

.redes, .contacto {
  grid-area: redes; }

.contacto {
  grid-area: contacto; }

.copy {
  grid-area: copy; }

.pie {
  border-top: 2px solid #00555d;
  color: #00555d;
  background-color: #e7e2cc;
  background-image: url(../imagenes/logo.png);
  background-repeat: no-repeat;
  background-size: 110px 110px;
  background-position: center;
  height: 30vh; }
  @media (min-width: 1024px) {
    .pie {
      background-size: 150px 150px; } }

i {
  padding: 10px; }

.redes, .contacto {
  padding-top: 10px;
  font-size: 25px;
  text-align: center; }
  .redes a, .contacto a {
    color: #00555d; }
    .redes a:hover, .contacto a:hover {
      padding: 5px;
      border-radius: 30px;
      background-color: #00555d;
      color: #e7e2cc; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .redes, .contacto {
      margin-top: 20px;
      font-size: 30px; } }
  @media (min-width: 1024px) {
    .redes, .contacto {
      margin-top: 20px;
      font-size: 35px; } }

.copy {
  font-size: 20px;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .copy {
      font-size: 30px; } }
  @media (min-width: 1024px) {
    .copy {
      margin-top: 10px;
      font-size: 30px; } }
