@import "variables";
@import "mixin";


.container{
    display: flex;
    flex-direction: column;
}

.bienvenida{       
    position: relative;
    z-index: 1;
    background-image: url(../imagenes/pescado-congelado.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat:no-repeat ;
    display: flex;
    justify-content: center;
    height: 95vh;          
            h1{
            margin-top: 30px;
            padding: 5px;
            color: $verde;
            font-size: $font + 20;  
            text-shadow: 2px 2px $claro;            
            animation-name: animacion1;
            animation-iteration-count: 1;
            animation-duration: 1s;
            animation-delay: 0s;

            @keyframes animacion1{
                from{
                    transform: translatey(-300%);
                    }
                to{
                    transform: translatey(0);
                    }
            }
                    
                }
                .btn-inicio{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    position: absolute;
                    width: 170px;
                    height: 40px;
                    font-size: $font;
                    top: 70%;
                    left: 32%;
                    text-transform: uppercase;
                    font-weight: bolder;
                    background-color: $claro;
                    color: $verde;
                    &:hover{
                        color: $claro;
                        background-color: $verde;
                        }
                    }@include bp (md){
                        justify-content: left;
                            h1{
                                margin-left: 15px;
                                font-size: $font *2.5;
                            } .btn-inicio{
                                left: 43%;
                            }     
                        }@include bp (lg){
                            justify-content: left;
                            h1{
                                font-size: $font *3;
                                margin-left: 10px;
                            } .btn-inicio{
                                left: 44%;                        
                            }     
                        }
            
            
            }
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 100;
    top: 105%;
    left: 30%;
    width: 200px;
    height: 200px;
    background-color: $claro;
    border: solid 3px $claro;
    border-radius: 15px;
    opacity: .8;
    img{
        border-radius: 15px;
    }
    h2{
        color: $verde;
        padding-bottom: 5px;
        text-align: center;
        font-size: $font ;
    }
            animation-name: animacion2;
            animation-iteration-count: 1;
            animation-duration: 2s;
            animation-delay: 2s;

            @keyframes animacion2{
                from{
                    transform: translatex(-300%);
                    }
                to{
                    transform: translatex(0);
                
            }
        }
        @include bp (md){
            top: 100%;
            left: 36%;
            width: 300px;
            height: 300px;
            h2{
                font-size: $font + 10;    
            }          
        }@include bp (lg){
            top: 100%;
            left: 38%;
            width: 300px;
            height: 300px;
            h2{
                font-size: $font + 15;    
            }
            }
    }

.presentacion{
        z-index: 2;
        background-image: url(../imagenes/pulpo2.jpg);
        background-attachment: fixed;
        background-size: cover;
        height: 75vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
            .pres{
                    margin-top: 40px;
                    background-color: $claro;
                    opacity: 0.6;
                    margin-bottom: 5%;
            }
                    h2{
                        text-transform: uppercase;
                        padding: 5px;
                        color: $verde;
                        font-size: $font;
                        text-shadow: 2px $verde;
                    }
                @include bp (md){
                    height: 80vh;
                    align-items: flex-end;
                    .pres{                        
                        margin-bottom: 5%;
                    }
                    h2{
                        font-size: $font +15;
                    }                        
                }@include bp (lg){
                    height: 95vh;
                    align-items: flex-end;
                    .pres{
                        margin-bottom: 10%;
                    }
                    h2{
                        font-size: $font +20;
                    }
            }
        }           
            
.pago{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: $claro;
    height: 20vh;
    h2{
        color: $verde;
        text-align: center;
        padding-bottom: 20px;
        }@include bp (md){
        justify-content:space-evenly;
        height: 25vh;
        h2{
            font-size: $font + 10;
            }
                }@include bp (lg){
                    height: 25vh;
                    h2{
                        font-size: $font +15;
                    }
        }


 .boxpago{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
            .mpago{
                width: 150px;            
                }
            img{
                width: 50px;
                height: 50px;          
            } 
        }   
}