@import "variables";
@import "global";
@import "mixin";


header{
    width: 100%;
    height: 13vh;
    background-color: $claro; 
    nav{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
}          

.imagenlogo{
    width: 90px;
    height: 90px;
    margin-left: 20px;
    @include bp (md){
        position: absolute;
        top: 0;
        margin: 5px;
        z-index: 10;
    }
    @include bp (lg){
        position: absolute;
        top: 5px;
        width: 110px;
        height: 110px; 
        z-index: 10;
    }
}  


.bar-btn{
    font-size: 25px;
    color: $verde;
    margin-right: 20px;
    cursor: pointer;
    @include bp (md){
        display: none;    
    }
    @include bp (lg){
        display: none; 
    }
}


.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: $verde;
    text-align: center;
    transition: all .5s;
    z-index: 9999;
    li{
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
        a{
            color: $claro;
            border-radius: 20px;
            font-size: $font + 5;
        }                
    }          
    @include bp (md){
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        position: relative;
        margin-left: 5%;
        height: 50px;
        top: 4%;
        padding: 15px;
        transition: none;
        border-radius: 20px;
        z-index: 0;
            li{
                display: flex;
                flex-direction: row;
                transition: none;
                padding: 5px;
                margin: 10px;
                a{
                    margin: 10px;
                    font-size: $font +10;
                    &:hover{
                        padding: 10px;
                        border-radius: 15px;
                        background-color: $claro;
                        color: $verde;
                }
            }
        }
    }@include bp (lg){        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        position: relative;
        height: 50px;
        top: 6%;
        margin-left: 5%;
        padding: 15px;
        transition: none;
        border-radius: 20px;
        z-index: 0;
            li{
                display: flex;
                flex-direction: row;
                transition: none;
                padding: 5px;
                margin: 10px;
                a{
                    margin: 10px;
                    font-size: $font +10;
                    &:hover{
                        padding: 10px;
                        border-radius: 15px;
                        background-color: $claro;
                        color: $verde;
                }
            }
        }
    }
}
#menu{
    display: none;
    &:checked ~ .nav-menu{
        height: 100vh;
        li{
            display: block;
        }
    }
}

.container{
    display: flex;
    flex-direction: column;
}

.bienvenida{       
    position: relative;
    z-index: 1;
    background-image: url(../imagenes/langostino.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 95vh;          
            h1{
            margin-top: 30px;
            padding: 5px;
            color: $claro;
            font-size: $font + 20;  
            text-shadow: 2px 2px $verde;            
            animation-name: animacion1;
            animation-iteration-count: 1;
            animation-duration: 1s;
            animation-delay: 0s;

            @keyframes animacion1{
                from{
                    transform: translatey(-300%);
                    }
                to{
                    transform: translatey(0);
                    }
            }
                    
                }
                .btn-inicio{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    position: absolute;
                    width: 170px;
                    height: 40px;
                    font-size: $font;
                    top: 70%;
                    left: 33%;
                    text-transform: uppercase;
                    font-weight: bolder;
                    background-color: $claro;
                    color: $verde;
                    &:hover{
                        color: $claro;
                        background-color: $verde;
                        }
                    }@include bp (md){
                        justify-content: left;
                            h1{
                                margin-left: 15px;
                                font-size: $font *2.5;
                            } .btn-inicio{
                                left: 45%;
                            }     
                        }@include bp (lg){
                            justify-content: left;
                            h1{
                                font-size: $font *3;
                                margin-left: 10px;
                            } .btn-inicio{
                                left: 43%;                        
                            }     
                        }
            
            
            }
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 100;
    top: 105%;
    left: 30%;
    width: 200px;
    height: 200px;
    background-color: $claro;
    border: solid 3px $claro;
    border-radius: 15px;
    opacity: .8;
    img{
        border-radius: 15px;
    }
    h2{
        color: $verde;
        padding-bottom: 5px;
        text-align: center;
        font-size: $font ;
    }
            animation-name: animacion2;
            animation-iteration-count: 1;
            animation-duration: 2s;
            animation-delay: 2s;

            @keyframes animacion2{
                from{
                    transform: translatex(-300%);
                    }
                to{
                    transform: translatex(0);
                
            }
        }
        @include bp (md){
            top: 100%;
            left: 38%;
            width: 300px;
            height: 300px;
            h2{
                font-size: $font + 10;    
            }          
        }@include bp (lg){
            top: 100%;
            left: 38%;
            width: 300px;
            height: 300px;
            h2{
                font-size: $font + 15;    
            }
            }
    }

.presentacion{
        z-index: 2;
        background-image: url(../imagenes/pulpo2.jpg);
        background-attachment: fixed;
        background-size: cover;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
            .pres{
                    margin-top: 40px;
                    background-color: $claro;
                    opacity: 0.6;
            }
                h2{
                    text-transform: uppercase;
                    padding: 5px;
                    color: $verde;
                    font-size: $font;
                    text-shadow: 2px $verde;
                } 
                @include bp (md){
                    h2{
                    font-size: $font +15;
                    }
                }@include bp (lg){
                    h2{
                        font-size: $font +25;
                    }
                }                        
            }
.pago{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: $claro;
    height: 20vh;
    h2{
        color: $verde;
        text-align: center;
        padding-bottom: 20px;
        }@include bp (md){
        justify-content:space-evenly;
        h2{
            font-size: $font + 10;
            }
                }@include bp (lg){
                    h2{
                        font-size: $font +15;
                    }
        }


 .boxpago{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
            .mpago{
                width: 150px;            
                }
        }
            img{
                width: 50px;
                height: 50px;          
            }    
}   

footer{
    display: grid;
    grid-template-areas: 
    "redes contacto"
    "copy   copy";
    grid-template-columns: 50%;
    grid-template-rows: 78% 22%;
}

.redes{
    grid-area: redes;
}
.contacto{
    grid-area: contacto;
}
.copy{
    grid-area: copy;
}

.pie{
    border-top: 2px solid $verde;
    color: $verde;
    background-color: $claro;
    background-image: url(../imagenes/logo.png);
    background-repeat: no-repeat;
    background-size: 110px 110px;
    background-position: center;
    height: 30vh;
    @include bp (lg){
        background-size: 150px 150px ;
    }
}

i{
    padding: 10px;
}
.redes{
    padding-top: 10px;
    font-size: 25px;
    text-align: center;    
        a{
            color: $verde;
            &:hover{
                padding: 5px;
                border-radius: 30px;
                background-color: $verde;
                color: $claro;
            }
        }@include bp (md){
            margin-top: 20px;
            font-size: $font + 10;
        }@include bp (lg){
            margin-top: 20px;
            font-size: $font +15;
        }
}
.contacto{
    @extend .redes;
}

.copy{
    font-size: 20px;
    text-align: center;
    @include bp (md){
        font-size: $font+ 10;
        }    
    @include bp (lg){
        margin-top: 10px;
        font-size: $font + 10;
    }
}
